header
    section
        &.login
            position: relative
            margin-top: 10%
            left: 5%
            width: 90%
            height: 70vh
            border-radius: 1rem
    img
        &.logo
            position: absolute
            width: 7em
            left: 32.5%
            top: 20%
        &.accepted
            position: absolute
            width: 25%
            left: 5%
            top: 5%